body {
    margin: 0px;
    background: #000;
    color: #dadada;
  }

/* Nav bar */
a {
    color: #dadada;
    text-decoration: none;
}

.navbar {
    width: 50px;
    background-color: #555;
    position: fixed;
    height: 100%;
}

.navbar a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    font-size: 24px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: rgb(76, 144, 175);
}

.power-off {
    position: absolute;
    bottom: 0;
    left: 2px;
}

/* Main Grid */

.grid-container {
    margin-left: 50px; /* Same as the width of the sidenav */
    padding: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, [col] 104px ) ;
    grid-template-rows: repeat(4, [row] 115px  ) auto;
    grid-gap: 2px;
    /* background-color: #fff; */
}

.box {
    background-color: #333333;
    border: 1px #444 solid;
    border-radius: 5px;
    padding: 0px;
    font-size: 150%;
}

.a {
    grid-column: col / span 4;
    grid-row: row;
}
.b {
    grid-column: col 5;
    grid-row: row ;
}
.c {
    grid-column: col / span 3 ;
    grid-row: row 2 / span 3 ;
}
.d {
    grid-column: col 4 / span 2 ;
    grid-row: row 2 / span 2 ;
}

.e {
    grid-column: col 4 / span 2;
    grid-row: row 4;
}

.f {
    grid-column: col 6 / span 2;
    grid-row: row 1 / span 4;
}

/* Weather */
.weather {
    display: grid;
    grid-template-columns: repeat(7, [col] 55px ) ;
    grid-gap: 2px;
    padding: 5px;
}

.weather-day {
    font-size: 16px;
    padding: 2px;
    place-self: center;
    text-align: center;
}

.weather-day .day-tile{
    font-style: bold;
}

.weather-day .icon {
    width: 25px;
    height: 25px;
}

.weather-day .icon img{
    height: 100%;
    width: 100%;
}

.weather-day .temperature {
    margin-top: 3px;
}

.weather-heading {
    grid-column: col / span 7;
    grid-row: row;
}

.day1 {
    grid-column: col 1;
    grid-row: row 2;
}

.day2 {
    grid-column: col 2;
    grid-row: row 2;
}

.day3 {
    grid-column: col 3;
    grid-row: row 2;
}

.day4 {
    grid-column: col 4;
    grid-row: row 2;
}

.day5 {
    grid-column: col 5;
    grid-row: row 2;
}

.day6 {
    grid-column: col 6;
    grid-row: row 2;
}

.day7 {
    grid-column: col 7;
    grid-row: row 2;
}

/* traffic map */

.traffic-map {
    height: 100%;
    width: 100%;
}

.traffic-map img {
    height: 100%;
    width: 100%;
 }

/* menu */

.menu {
    padding: 5px;
    font-size: 12px;
    word-wrap: break-word;
}

.menu-day {
    text-align: center;
}

.menu-day h3 {
    margin-bottom: 0px;
    color:  rgb(76, 144, 175)
}

.menu-day table {
    width: 100%;
    font-size: 12px;
    table-layout:fixed;
}

.menu-day thead{
    font-size: 12px;
    font-weight: bold;
}

/* yokai */

.yokai {
    height: 100%;
    width: 100%;
}

.yokai img {
    height: 100%;
    width: 100%;
 }

